{% extends "website/base.html" %}
{% load static %}


{% block actualbody %}
     <!-- BLOG -->
     <section class="blog section-padding">
          <div class="container">
               <div class="row">

                 

                    <div class="col-lg-12 col-md-12 col-12">

                      <div class="blog-sidebar d-flex justify-content-center align-items-center" data-aos="fade-up" data-aos-delay="300" style="float: left;">

                        <div class="blog-info" style="padding: 5%;">
                          <h4 class="blog-category text-success">Livestream</h4>

                          <h3><a href="blog-detail.html">Livestream with 3d-models</a></h3>
                        </div>
                      </div>
                      <div class="blog-sidebar d-flex justify-content-center align-items-center" data-aos="fade-up" data-aos-delay="300" style="float: left;">
                        
                        <div class="blog-info" style="padding: 2.5%;">
                          <h4 class="blog-category text-primary">Pre-recorded Video</h4>

                          <h3><a href="blog-detail.html">Upload and schedule meetings in advance</a></h3>
                        </div>
                      </div>

                      <div class="blog-sidebar d-flex justify-content-center align-items-center" data-aos="fade-up" data-aos-delay="200" style="float: left;">
                       
                        <div class="blog-info" style="padding: 5%;">
                          <h4 class="blog-category text-danger">Noise Reduction</h4>
                          <h3><a href="blog-detail.html">Background Noise reduction</a></h3>
                        </div>
                      </div>


                    </div>


                 
               </div>
          </div>
     </section>


{% endblock %}


