{% extends "website/base.html" %}
{% load static %}


{% block actualbody %}
     <!-- BLOG -->
     <section class="blog section-padding">
          <div class="container">
               <div class="row">

                 

                    <div class="col-lg-12 col-md-12 col-12">

                      <div class="blog-sidebar d-flex justify-content-center align-items-center" data-aos="fade-up" data-aos-delay="300" style="float: left;">

                        <div class="blog-info" style="padding: 2.5%;">
                          <h4 class="blog-category text-success">
                            <a href="/organiser" style="color: green;">Host Meeting</a></h4>

                          <h3>Live Meeting with 3d-models for better interactions</h3>
                        </div>
                      </div>
                      <div class="blog-sidebar d-flex justify-content-center align-items-center" data-aos="fade-up" data-aos-delay="300" style="float: left;position: relative;top: 10px;">
                        
                        <div class="blog-info" style="">
                          <h4 class="blog-category text-primary"><a href="/join" style="color: blue;">Join Meeting</a><h4>
                          <h3>Join anywhere, anytime with our smooth interaction!</h3>
                        </div>
                      </div>

               


                    </div>


                 
               </div>
          </div>
     </section>


{% endblock %}


